<div class='row'>
  <div class='offset-md-1 col-md-10'>
    <div class='about-me content'>
      <h1>About Me</h1>
      <div class='row'>
        <div class='col-sm-5'>
          <img src='assets/images/profile.jpg' class='profile-pic'>
        </div>
        <div class='col-sm-7'>
          <h3>Professional Background</h3>
          <p>
            I am a software developer that graduated from Towson University in 2016 with a B.S. in Computer Science with a concentration in Software Engineering. After graduating, I continued working at Everseat, a start-up company in Baltimore, MD. There I worked as a full stack developer on a Ruby on Rails and Ember.js web application which helped grow my abilities. After a year, I quickly transitioned into my current position with General Dynamics IT as a ServiceNow developer. In this role, I assist with the development of a number of different contracts as well as develop solutions within the ServiceNow platform to include modifications of applications, forms, workflow, interfaces and any other customization.
          </p>
          <h3>Personal Background</h3>
          <p>
            I grew up in Germantown, MD and my favorite hobbies have always been playing video games and watching or playing sports. I could talk for days about all the different video games I enjoy, but for now I'll just keep it to some of my all-time favorites which include Legend of Zelda, Portal, Elder Scrolls, and League of Legends. I support most of the Washington D.C. & Baltimore sports teams and love watching their games any chance I get. Aside from video games and sports, a couple of my more unique hobbies include riding motorcycles and playing paintball. I was even part of my college’s paintball team which competed in paintball tournaments all over Maryland.
          </p>
        </div>
      </div>
    </div>
    {{outlet}}
  </div>
</div>
