<div class='row'>
  <div class='offset-md-2 col-md-8'>
    <div class='projects content'>
      <h1>Projects</h1>
      <div class='coming-soon'>Coming Soon!</div>
    </div>
    {{outlet}}
  </div>
</div>
