<div class='row'>
  <div class='offset-md-1 offset-lg-2 col-md-10 col-lg-8'>
    <div class='resume content'>
      <div class='row'>
        <div class='col-6'>
          <h1>Resume</h1>
        </div>
        <div class='resume-download col-6'>
          <a href='assets/pdfs/resume.pdf' download class='btn btn-primary'>Download</a>
        </div>
      </div>
      <img src='assets/images/resume.jpg' alt='Resume' class='resume-img'>
    </div>
    {{outlet}}
  </div>
</div>
